* {
  box-sizing: border-box;
}
html body {
  margin: 0;
  height: 100%;
}

.header {
  padding: 15px 0;
  background-color: #ffffff;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid #008cff;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px solid #008cff;
  width: 80%;
}

.logo-img {
  border: 0px solid #008cff;
  padding: 5px;
  max-height: 45px;
  max-width: 45px;
}

/* ***************** */
.add-text {
  font: normal normal bold 15px/20px Montserrat;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #008cff;
  text-align: left;
  text-transform: capitalize;
  display: block;
}

.address-book {
  color: black;
}

.form-content {
  min-height: calc(100%-80px);
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #008cff;
}

.form {
  width: 65%;
  margin: 15px 0;
  padding: 44px 60px;
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px grey;
  border: 1px solid skyblue;
  border-radius: 8px;
  opacity: 1;
}

.address-header {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  opacity: 1;
  min-height: 108px;
  background: #008cff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.address-header-content {
  font: normal normal normal 18px/24px Roboto;
  letter-spacing: 0px;
  color: white;
  margin-left: 30%;
}

.cancel-button {
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
  margin-left: 200px;
}

/* form */

.row-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 10%;
  border: 0px solid #008cff;
}

.label {
  min-width: 140px;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font: normal normal normal 18px/24px Roboto;
  color: #42515f;
  opacity: 1;
}

.address-label {
  text-align: left;
  font: normal normal normal 18px/24px Roboto;
  letter-spacing: 0px;
  color: #42515f;
  opacity: 1;
}

.address-text {
  height: 100px;
}

.column-content {
  display: flex;
  flex-direction: row;
}

.row-content-exp {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border: 0px solid #008cff;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
  align-items: center;
}

.oneRow-content {
  width: 100%;
  margin: 5px;
  justify-content: flex-end;
  align-items: flex-start;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.select-input {
  width: 100%;
  padding: 12px;
  margin-right: 15px;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #bdbdbd;
  opacity: 1;
}

error-output {
  margin-left: 10px;
  font-size: 12px;
  font-style: Bold;
  color: red;
}
.error-div {
  display: flex;
  flex-direction: row;
}

.submit-reset {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 10%;
}

.button {
  font-size: 20px;
  font-family: Arial;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  background: transparent;
  border: 1px solid #969696;
  font-weight: 400;
  min-width: 140px;
  padding: 7px 7px;
  cursor: pointer;
  background-color: #e2e2e2;
}

.submitButton {
  background-color: #e2e2e2;
  margin-right: 30px;
}

.resetButton {
  background: #e2e2e2 0% 0% no-repeat padding-box;
  border: 1px solid #969696;
  border-radius: 5px;
  opacity: 1;
}

.button:hover {
  color: #ffffff;
  background-color: #707070;
}
.submitButton:hover {
  background-color: #008cff;
}