* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: white;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.logo-img {
    border: 0px solid #008CFF;
    padding: 5px;
    max-height: 50px;
}

.address-text {
    font: normal normal bold 20px/25px Montserrat;
    letter-spacing: 0px;
    color: #008CFF;
    text-align: left;
    text-transform: capitalize;
    display: block;
}

.book-text {
    color: black;
}